.footer {
  background: #163138;
  color: #fff;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
}
.about-us {
  margin-right: 60px;
  line-height: 30px;
}
.about-us p {
  font-size: 1rem;
}
.contact-info {
  margin-right: 200px;
  line-height: 30px;
}
.contact-info p {
  font-size: 0.85rem;
}

.footer-section {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  transition: 0.5s ease;
  font-size: 0.85rem;
}

.footer-section ul li a:hover {
  color: #d06d0e;
}
.footer-logo {
  width: 100%; /* Set the width of the logo */
  margin-left: 85px; /* Add margin to separate the logo from other sections */
}

.footer-logo img {
  width: 50%;
  height: auto;
}
.media {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.media p {
  font-size: 13px;
}
.social-icons {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  align-items: center; /* Align icons vertically */
}

.social-icons > * {
  margin-left: 10px; /* Add some space between icons */
}
.social-icons a {
  text-decoration: none;
  color: #007c79;
}
hr {
  border: none; /* Remove default border */
  background-color: #163138; /* Set the color of the line */
  padding: 60px;
  color: #fff;
}

/* Add more styles as needed */
@media (max-width: 991px) {
  .footer {
    flex-direction: column;
    align-items: left;
    margin-top: -30px;
  }

  .footer-section {
    text-align: left;
    display: inline-block;
    margin-left: 5%;
  }

  .footer-logo {
    margin-left: 10px;
  }

  .footer-logo img {
    width: 25%;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-left: 35px;
  }

  .social-icons {
    justify-content: center;
  }
  .media p {
    font-size: 13px;
  }
  .media {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 1rem;
  }
}
